.App{
    display: flex; 
    /* Torna o elemento um flex 
    container automaticamente 
    transformando todos os seus 
    filhos diretos em flex itens.*/

    justify-content: center; /*Alinhe os itens flexíveis no centro do contêiner:*/
    align-items: center;
    text-align: center;
}